@import helper._
@import helper.twitterBootstrap._


@title = {FMS Home }
@main(title, nav = "landingPage") {


<HEAD>
    <TITLE>FMS Home</TITLE>
</HEAD>

<BODY BGCOLOR="WHITE">
<CENTER>
    <H1 style="color:blue">Welcome to FMS Portal</H1>



    <IMG SRC="@routes.Assets.at("images/fac-icon.png")">



    <H2 style="color:black">Facility Management System - Loyola University, Chicago</H2>
    <H2 style="color:black"> By Christina and Alex </H2>

    <H4 style="color:blue">Please navigate site using the navigation bar</H4>

</CENTER>
}